.navbar__user-email {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: white;
}

@media screen and (max-width: 525px) {
    .navbar__user-email {
        font-size: 3vw;
    }
}

@media screen and (max-width: 425px) {
    .navbar__user-email {
        font-size: 10px;
    }
}