.auth__link {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  text-decoration: none;
}

.auth__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .auth__link {
    margin-top: 20px;
    font-size: 12px;
  }
}
